<div class="max-w-md mx-auto bg-white rounded-md p-8 shadow-lg">
  <h1 class="text-2xl font-semibold mb-4">Registrar Paciente</h1>
  <form
    action="/rPaciente"
    method="post"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md"
  >
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="personaId">
        ID de Persona
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="personaId"
        name="personaId"
        value="<%= idPersona %>"
        type="number"
        readonly
      />
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Registrar
        </button>
      </div>
      <div class="flex items-center">
        <a
          href="/citas"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          no registrar Como Paciente
        </a>
      </div>
    </div>
  </form>
</div>
