<div class="relative py-3 sm:max-w-xl sm:mx-auto">
  <form class="max-w-md mx-auto" action="/rTelefono" method="post">
    <h1 class="text-2xl font-semibold mb-4">Registrar numero Telefono</h1>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="personaId">
        ID de la ultima persona registrada
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="personaId"
        type="number"
        placeholder="Ingrese el ID de la persona"
        value="<%= idPersona %>"
        name="personaId"
        readonly
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="numeroTelefono">
        Número de Teléfono
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="numeroTelefono"
        name="numeroTelefono"
        type="text"
        placeholder="Ingrese el número de teléfono"
      />
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Registrar
        </button>
      </div>
      <div class="flex items-center">
        <a
          href="/medico"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          no registrar otro telefono
        </a>
      </div>
    </div>
  </form>
</div>
