<div class="max-w-md mx-auto bg-white rounded-md p-8 shadow-lg">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
    <h1 class="text-2xl font-semibold mb-4">Registro de Tratamiento</h1>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="nombreTratamiento">
        Nombre del Tratamiento
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nombreTratamiento"
        type="text"
        placeholder="Ingrese el nombre del tratamiento"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-gray-700 font-bold mb-2"
        for="descripcionTratamiento"
      >
        Descripción del Tratamiento
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="descripcionTratamiento"
        placeholder="Ingrese la descripción del tratamiento"
      ></textarea>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="costoTratamiento">
        Costo del Tratamiento
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="costoTratamiento"
        type="number"
        placeholder="Ingrese el costo del tratamiento"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        Registrar
      </button>
    </div>
  </form>
</div>
